/* All Styles For Front Facing Website 


#1 - Hero Image (Front Page)

*/
/* #1 - HERO IMAGE */
.hero {
  background: url("/images/hero-image.png");
  background-size: cover;
  display: table;
  height: 100vh;
  min-height: 100%;
  width: 100%; }
