/* #6 - Homepage Icons */    


@include mui-series (1s) {  
  .icon-build  { @include mui-queue(1s, 0s, fade, zoom); }


  .icon-invite  { @include mui-queue(1s, 0s, fade, zoom); }


  .icon-connect  { @include mui-queue(1s, 0s, fade, zoom); }
}

@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
   50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0 100%;
  }
  200% {
    background-position: 0 0;
  }
}

