/* Overide Settings */

/* Top Bar */
$topbar-padding: 1.4rem;
$topbar-background: $transparent;
$topbar-link-color: #fff;
$topbar-input-width: 200px;

/* Buttons */
$button-padding:1.5em;
$button-background:$green;

/* Modals */
$reveal-background: $transparent-dark;   
$reveal-max-width: 100%;
$reveal-border:  0px;
$reveal-padding: 8rem 4rem;

/* Breakpoints (Screen Size) */
$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);