/* Overide Settings */

/* Top Bar */
$topbar-padding: 1.4rem;
$topbar-background: $transparent;
$topbar-link-color: #fff;
$topbar-input-width: 200px;

/* Buttons */
$button-padding:1.5em;
$button-background:$green;