
/* All Styles For Front Facing Website 

#1 - Fonts
#2 - General Styles
#3 - Hero Image (Front Page)

*/

/* #1 - Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* #2 - General Styles */
body
{
    
font-family: 'Montserrat', sans-serif;

}

/* #2 - Hero Image */

.hero
{
	
	background:url("/images/hero-image2.png");

	background-size:cover;

    display: table;

    height: 100vh;

    min-height: 100%;

    width: 100%; 

}

.logo {
    left: 120px;
    max-width: 50%;
    position: relative;
    top: 50px;
}

ul.menu {
    margin-top: 60px;

    padding-right:40px;
}

.top-bar li > a, .top-bar ul li > a
{
	
color:#000;

}

.top-bar, .top-bar ul {
    background-color: rgba(0,0,0,0);
}